In [2]:
l = ['d', 'o', 'g']
string = "".join(l)
print string

dog

In [5]:
s = '   my dog has fleas   '
print s.strip()

my dog has fleas

In [7]:
s.split()

['my', 'dog', 'has', 'fleas']

In [9]:
s2 = 'my,dog,has,fleas'
s2.split(',')

['my', 'dog', 'has', 'fleas']

In [13]:
l = ['my', 'dog', 'has', 'fleas']
', '.join(l)

'my, dog, has, fleas'

In [15]:
l[0].join(l)

'mymydogmyhasmyfleas'

In [18]:
s = 'He is my classmate, and he is learning Python'
s.replace('is', 'was')

'He was my classmate, and he was learning Python'

In [23]:
s.replace('is', 'was', 1)

'He was my classmate, and he is learning Python'

In [29]:
s.find('is')

3

In [28]:
s.find('was')

-1

In [30]:
s.find('a')

11

In [35]:
s.find('a', 16)

20

In [33]:
s[11]

'a'

In [37]:
'My name is %s and I am %d years old.' % ('Kate', 30)

'My name is Kate and I am 30 years old.'

In [42]:
lis = ['abc \n', ' def', 'ghi  ']
print lis

['abc \n', ' def', 'ghi  ']

In [40]:
map(lambda s: s.strip(), lis)

['abc', 'def', 'ghi']

In [46]:
lis[0].strip()

'abc'

In [47]:
'No'.lower()

'no'

In [62]:
lis = ['today', 'is is', 'a', 'nice', 'day']
map(lambda s: s.find('i', 0), lis)

[-1, 0, -1, 1, -1]

In [66]:
s = 'today is a nice day'
a = s.split()
print a
map(lambda m: m.find('a', 0), a)

['today', 'is', 'a', 'nice', 'day']

[3, -1, 0, -1, 1]

In [67]:
def find_char(s, t):
    return map(lambda m: m.find(t, 0), s.split())

In [68]:
find_char(s, 'i')

[-1, 0, -1, 1, -1]

In [119]:
lis2 = [10, 12, 4, 7]
['%s' % num for num in lis2]

'{}'.format(lis2[2])
def num_2_str(l):
    return '%s' % l

map(num_2_str, lis2)

['10', '12', '4', '7']

In [78]:
def has_no(l):
    return l.find('No') >= 0

In [79]:
L = ['No rain', 'Some snow', 'No sleet']
filter(has_no, L)

['No rain', 'No sleet']

# File Input and Output

In [120]:
!cat simple.txt

I'm line 1,
and I'm line 2.

In [121]:
f = open('simple.txt', 'r')

In [123]:
lines = f.readlines()
f.close()

In [124]:
lines

["I'm line 1,\n", "and I'm line 2."]

In [133]:
map(lambda s: s.upper(), lines)

["I'M LINE 1,\n", "AND I'M LINE 2."]

In [136]:
text = ' '.join(map(lambda s: s.upper(), lines))
text

"I'M LINE 1,\n AND I'M LINE 2."

In [165]:
lines = ["I'M LINE 1,\n", "AND I'M LINE 2."]
ans_1 = map(lambda s: s.strip(), lines)

In [166]:
ans_1

["I'M LINE 1,", "AND I'M LINE 2."]

In [147]:
lines[1].lower().replace('e', 'a')

"and i'm lina 2."

In [174]:
def e_to_a(file_name):
    f = open(file_name, 'r')
    lines = f.readlines()
    f.close()
    return map(lambda s: s.replace('e', 'a'), lines)

In [175]:
e_to_a('simple.txt')

["I'm lina 1,\n", "and I'm lina 2."]

In [178]:
f = open('simple.txt', 'w')
f.write("I'm line 1,\nand I'm line 2.")
f.close()
!cat simple.txt

I'm line 1,
and I'm line 2.

In [184]:
f = open('simple.txt', 'a')
f.write('\n and this is the third line.')
f.close()

In [185]:
!cat simple.txt

I'm line 1,
and I'm line 2.
 and this is the third line.

In [188]:
f = open('simple.txt', 'r+')
lines = f.readlines()
lines

["I'm line 1,\n", "and I'm line 2.\n", ' and this is the third line.']

In [189]:
f.write('\nthis is the fourth line.')
f.close()

In [191]:
!cat simple.txt

I'm line 1,
and I'm line 2.
 and this is the third line.
this is the fourth line.

In [194]:
def grep(word, file):
    f = open(file, 'r')
    lines = f.readlines()
    f.close()
    has_word = (lambda s: s.find(word) != -1)
    output = filter(has_word, lines)
    return "".join(output)

In [196]:
print grep('people', 'oldmanandthesea.txt')

quite sure no local people would steal from him, the old man thought
He always thought of the sea as _la mar_ which is what people call her
that were as long as the skiff and weighed a ton.  Most people are
him beyond all people.  Beyond all people in the world.  Now we are
table.  There was much betting and people went in and out of the room
many people will he feed, he thought.  But are they worthy to eat him?
did it to keep me alive and feed many people.  But then everything is a
are people who are paid to do it.  Let them think about it.  You were

In [207]:
string1 = 'i have a cat.'
string2 = 'i have a cat and a dog.'
def dogs(w1, w2, string):
    if (string.find(w1) != -1 and string.find(w2) != -1):
        return 'This string has both %s and %s.' %(w1, w2)
    else:
        return 'This string does not have both %s and %s.' %(w1, w2)

In [210]:
dogs('dog', 'cat', string2)

'This string has both dog and cat.'

In [227]:
Dogs = lambda s: (s.find('dog') != -1 and s.find('cat') != -1)

In [228]:
print Dogs(string2)

True

In [222]:
def grep2(word1, word2, file):
    f = open(file, 'r')
    lines = f.readlines()
    f.close()
    has_word1_and_word2 = (lambda s: (s.find(word1) != -1 and s.find(word2) != -1))
    output = filter(has_word1_and_word2, lines)
    return "".join(output)

In [226]:
print grep2('people', 'steal', 'oldmanandthesea.txt')

quite sure no local people would steal from him, the old man thought

In [ ]:
def grep3(word1, word2, file):
    f = open(file, 'r')
    lines = f.readlines()
    f.close()
    has_word1_and_word2 = (lambda s: (s.find(word1) != -1 and s.find(word2) != -1))
    output = filter(has_word1_and_word2, lines)
    return "".join(output)

# Data Structures

In [232]:
L = [1, 3, 5, 7]
s = 'this is a string.'
print L[2:]
print s.upper()

[5, 7]
THIS IS A STRING.

In [233]:
print L
print s

[1, 3, 5, 7]
this is a string.

In [234]:
M = L
t = s

In [235]:
s

'this is a string.'

In [236]:
L = L[2:]

In [237]:
L

[5, 7]

In [238]:
s = s.upper()

In [239]:
s

'THIS IS A STRING.'

In [240]:
skills = ['Python', 'SAS', 'Hadoop']
skills[1] = 'R'
skills

['Python', 'R', 'Hadoop']

In [241]:
skills = ['Python', 'SAS', 'Hadoop']
my_skills = skills
skills[1] = 'R'
my_skills

['Python', 'R', 'Hadoop']

In [258]:
my_list = ['first', 'second', 'third', 'fourth']
my_list[1]

'second'

In [261]:
i = 1
j = -1
my_list_i = my_list[i]
my_list_j = my_list[j]
print my_list_i
print my_list_j

my_list[i] = my_list_j
my_list[j] = my_list_i

print my_list

second
fourth
['first', 'fourth', 'third', 'second']

In [264]:
def switch_item(L, i, j):
    L_i = L[i]
    L[i] = L[j]
    L[j] = L_i
    return L

In [265]:
my_list = ['first', 'second', 'third', 'fourth']
switch_item(my_list, 1, -1)

['first', 'fourth', 'third', 'second']

In [289]:
lis = [1,5,3,8,2,6,7]

In [290]:
lis.sort()

In [293]:
lis2 = lis

In [294]:
lis2

[1, 2, 3, 5, 6, 7, 8]

In [301]:
courses = ('Programming', 'Stats', 'Math')
courses[1:]

('Stats', 'Math')

In [304]:
map(lambda s: s.upper(), courses)

['PROGRAMMING', 'STATS', 'MATH']

In [307]:
def switch_item2(L, i, j):
    (L[i], L[j]) = (L[j], L[i])
    return L

In [308]:
my_list = ['first', 'second', 'third', 'fourth']
switch_item2(my_list, 1, -1)

['first', 'fourth', 'third', 'second']

In [310]:
vowels = ['a','e','i','o','u','u','o','i','e','a']
vowels = set(vowels)

In [311]:
vowels

{'a', 'e', 'i', 'o', 'u'}

In [312]:
list(vowels)

['a', 'i', 'e', 'u', 'o']

In [320]:
primes = {2, 3, 5, 7}
len(vowels)

5

In [321]:
a = {'a', 'b', 'c'}
b = {'b', 'c', 'd'}

a or b

{'a', 'b', 'c'}

In [322]:
a | b

{'a', 'b', 'c', 'd'}

In [323]:
a and b

{'b', 'c', 'd'}

In [324]:
a & b

{'b', 'c'}

In [325]:
a - b

{'a'}

In [326]:
a ^ b

{'a', 'd'}

In [327]:
inventory = {'pumpkin' : 20, 
             'fruit' : ['apple', 'pear'],
             'vegetable' : ['potato','onion','lettuce']}
inventory['meat'] = ['beef', 'chicken', 'pork']

In [328]:
inventory

{'fruit': ['apple', 'pear'],
 'meat': ['beef', 'chicken', 'pork'],
 'pumpkin': 20,
 'vegetable': ['potato', 'onion', 'lettuce']}

In [330]:
inventory['vegetable'].sort()

In [331]:
inventory

{'fruit': ['apple', 'pear'],
 'meat': ['beef', 'chicken', 'pork'],
 'pumpkin': 20,
 'vegetable': ['lettuce', 'onion', 'potato']}

In [332]:
inventory['pumpkin'] = inventory['pumpkin'] + 5

In [333]:
inventory

{'fruit': ['apple', 'pear'],
 'meat': ['beef', 'chicken', 'pork'],
 'pumpkin': 25,
 'vegetable': ['lettuce', 'onion', 'potato']}

In [334]:
from sklearn import datasets
raw_data = datasets.load_iris()

In [335]:
type(raw_data)

sklearn.datasets.base.Bunch

In [340]:
isinstance(raw_data, dict)

True

In [342]:
raw_data.keys()

['target_names', 'data', 'target', 'DESCR', 'feature_names']

In [343]:
description = raw_data['DESCR']

In [344]:
features = raw_data['feature_names']

In [345]:
features

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [347]:
print description

Iris Plants Database

Notes
-----
Data Set Characteristics:
    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica
    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20  0.76     0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML iris datasets.
http://archive.ics.uci.edu/ml/datasets/Iris

The famous Iris database, first used by Sir R.A Fisher

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

References
----------
   - Fisher,R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda,R.O., & Hart,P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...