# For loops

In [7]:
# Exercise 1
# Print the list of prime numbers along with the running sum of those numbers

primes = [2, 3, 5, 7, 11]
sum_ = 0
for num in primes:
    sum_ += num
    print num, sum_

2 2
3 5
5 10
7 17
11 28

In [14]:
# Exercise 2: 
# Print a list of strings with numbers determined by length of the strings

names = ['don', 'mike', 'vivian', 'saul']
i = 0
for name in names:
    print i, name
    i += len(name)

0 don
3 mike
7 vivian
13 saul

In [12]:
# Exercise 3
# Write a function map_uc(l) that takes a list of strings
# and returns a list of those same strings in all upper-case.

def map_uc(l):
    l_upper = []
    for string in l:
        l_upper.append(string.upper())
    return l_upper

In [13]:
map_uc(['kate', 'tori', 'doug'])

['KATE', 'TORI', 'DOUG']

In [18]:
# Exercise 4
# Using the information in Exercise 2, create a for loop that puts these value pairs in a new list.
names = ['don', 'mike', 'vivian', 'saul']
i = 0
name_pair = []
for name in names:
    name_pair.append([i, name])
    i += len(name)
    
print name_pair

[[0, 'don'], [3, 'mike'], [7, 'vivian'], [13, 'saul']]

# While loops

In [19]:
i = 0
while i < 10:
    print i
    i += 1

0
1
2
3
4
5
6
7
8
9

In [22]:
n = 20
i = 1
sum_ = 0
while sum_ <= n:
    sum_ += i
    i += 1
    
sum_
i

7

In [43]:
# Exercise 1: Print the elements of a numeric list, up to the first even number

l = [1, 5, 8, 9]
i = 0
while i < len(l) and l[i] % 2 != 0:
    print l[i]
    i += 1

1
5

In [46]:
# Exercise 2: Print the elements of a list of strings, up to the first string whose length exceeds 10.

words = ['cat', 'dog', 'house', 'trigonometry', 'algebra']
i = 0

while (i < len(words) and len(words[i]) < 10):
    print words[i]
    i += 1

cat
dog
house

In [44]:
# Exercise 3: Sum the even elements of a numeric list

l = [1, 3, 5, 6, 4, 2, 88, 93]
i = 0
sum_even = 0

while i < len(l):
    if l[i] % 2 == 0:
        sum_even += l[i]
    i += 1

sum_even

100

In [51]:
# Break and Continue Example

sum_ = 0
L = [1, 4, -6, 64, 75]
for x in L:
    if x < 0:
        continue
    sum_ += x
    if sum_ > 100:
        break

sum_

144

# Errors and Exceptions

In [53]:
def openfile(filename, mode):
    try:
        f = open(filename, mode)
    except:
        print 'Error:', filename, 'does not exist'
        return

openfile('existent.txt', 'no_such_mode')

Error: existent.txt does not exist

In [55]:
def openfile(filename, mode):
    try:
        f = open(filename, mode)
    except Exception as e:
        print type(e)

openfile('existent.txt', 'no_such_mode')

<type 'exceptions.ValueError'>

In [56]:
openfile('existent.txt', 'r')

<type 'exceptions.IOError'>

In [57]:
def openfile(filename, mode):
    try:
        f = open(filename, mode)
    except IOError:
        print 'File doesn\'t exist in this case.'
    except ValueError:
        print 'Likely to be wrong mode in this case.'
    except:
        print 'Some other error.'
    else:
        print 'No error.'
    finally:
        print 'Everybody should have this!'

In [60]:
def openfile(filename, mode):
    try:
        f = open(filename, mode)
    except Exception as e:
        print 'Error: ', e.args

print "openfile('nonexistent.txt', 'r')"
print '-'*50
openfile('nonexistent.txt', 'r')
print '\n'

print "openfile('existent.txt', 'no_such_mode')"
print '-'*50
openfile('existent.txt', 'no_such_mode')
print '\n'

print "openfile('existent.txt', 123)"
print '-'*50
openfile('existent.txt', 123)
print '\n'

print "openfile('existent.txt', 'r')"
print '-'*50
openfile('existent.txt', 'r')

openfile('nonexistent.txt', 'r')
--------------------------------------------------
Error:  (2, 'No such file or directory')


openfile('existent.txt', 'no_such_mode')
--------------------------------------------------
Error:  ("mode string must begin with one of 'r', 'w', 'a' or 'U', not 'no_such_mode'",)


openfile('existent.txt', 123)
--------------------------------------------------
Error:  ('file() argument 2 must be string, not int',)


openfile('existent.txt', 'r')
--------------------------------------------------
Error:  (2, 'No such file or directory')

In [61]:
def f_1():
    x = float(raw_input('Enter a number: '))
    return f_2(x)

def f_2(x):
    return f_3(x)

def f_3(x):
    return 1/x

In [63]:
f_1()

Enter a number: 0

ZeroDivisionError: float division by zero

In [64]:
def f_1():
    while True:
        x = float(raw_input('Enter a number: '))
        try:
            return f_2(x)
        except ZeroDivisionError:
            pass

def f_2(x):
    return f_3(x)

def f_3(x):
    return 1/x

In [65]:
f_1()

Enter a number: 0
Enter a number: 10

0.1

In [67]:
# Exercise 4: Exceptions
# Call the function f_1() and enter the letter a.
# What type of error is returned? A ValueError is returned.

f_1()

Enter a number: a

ValueError: could not convert string to float: a

In [76]:
# Modify the code so that it asks users to input again when encountering this error.
def f_1():
    while True:
        try:
            x = float(raw_input('Enter a number: '))
            return f_2(x)
        except ZeroDivisionError:
            pass
        except ValueError:
            pass

def f_2(x):
    return f_3(x)

def f_3(x):
    return 1/x

In [77]:
f_1()

Enter a number: a
Enter a number: a
Enter a number: b
Enter a number: 10

0.1

# Classes

In [133]:
def Dictionary():
    return []

def add(d, k, v):
    return d.insert(0, (k,v))

def lookup(d, k):
    return filter(lambda l: l[0] == k, d)[0][1]

def contains(d, k):
    return filter(lambda l: l[0] ==k, d) != []

In [138]:
d = Dictionary()
add(d, 'ny', 'albany')
print d
print contains(d, 'nj')
add(d, 'nj', 'albany')
print d

[('ny', 'albany')]
False
[('nj', 'albany'), ('ny', 'albany')]

('nj', 'albany')

In [142]:
# Exercise 1: Create a class called dictionary and apply 

class Dictionary(object):
    def __init__(self):
        self.kv_pairs = []
    
    def add(self, k, v):
        return self.kv_pairs.insert(0, (k,v))
    
    def lookup(self, k):
        return filter(lambda p: p[0] == k, self.kv_pairs)[0][1]
    
    def contains(self, k):
        return filter(lambda p: p[0] == k, self.kv_pairs) != []

In [140]:
d = Dictionary()

In [143]:
d.add('ny', 'albany')
d.add('nj', 'trenton')

In [150]:
print d.lookup('ny')
print d.contains('nj')
print d.contains('mo')

albany
True
False

In [162]:
# Exercise 2: Create a class called Vectors

class Vector(object):
    def __init__(self, lis):
        self.coords = lis
    
    def length(self):
        return (sum([x**2 for x in self.coords]))**0.5

In [163]:
v = Vector([1, 2, 3])
print v.coords
print v.length()

[1, 2, 3]
3.74165738677

In [164]:
# Exercise 3: Make the coords method private

class Vector(object):
    def __init__(self, lis):
        self.__coords = lis
    
    def length(self):
        return (sum([x**2 for x in self.coords]))**0.5
    
v = Vector([1, 2, 3])
print v.coords
print v.length()

AttributeError: 'Vector' object has no attribute 'coords'

In [176]:
class Vector(object):
    def __init__(self, lis):
        self.__coords = lis
    
    def __str__(self):
        return 'Vector' + str(self.__coords)
    
    def length(self):
        return (sum([x**2 for x in self.__coords]))**0.5
    
    def __add__(self, other):
        return map(lambda x, y: x + y, self.__coords, other.__coords)

In [177]:
v = Vector([1, 2, 3])
print v

Vector[1, 2, 3]

In [179]:
v = Vector([1, 2, 3])
u = Vector([3, 5, 7])
w = u + v
print w

[4, 7, 10]

In [212]:
# Exercise 4: Add two more methods: eq and mul
# __eq__(vec) returns true if this vector equals vec
# __mul__(vec) returns the dot product of this vector and vec

class Vector(object):
    def __init__(self, lis):
        self.__coords = lis
    
    def __str__(self):
        return 'Vector' + str(self.__coords)
    
    def length(self):
        return (sum([x**2 for x in self.__coords]))**0.5
    
    def __add__(self, other):
        return map(lambda x, y: x + y, self.__coords, other.__coords)
    
    def __eq__(self, other):
        try:
            return all(map(lambda x, y: x == y, self.__coords, other.__coords))
        except:
            return False
    
    def __mul__(self, other):
        try:
            return map(lambda x, y: x*y, self.__coords, other.__coords)
        except:
            return 'The vectors are not the same size.'

In [217]:
v = Vector([1, 2, 3])
u = Vector([1, 2, 4])
print u == v
print u*v

False
[1, 4, 12]

In [219]:
# Inheritance

class Book(object):
    def __init__(self, name, author = None):
        self.name = name
        self.author = author
        
    def __str__(self):
        return '<%s> by %s' % (self.name, self.author)

In [220]:
class EBook(Book):
    def __init__(self, name, author = None):
        Book.__init__(self, name, author)

In [224]:
book_1 = Book('The little SAS book', None)
ebook_1 = EBook('R Cookbook', None)
print book_1
print ebook_1

<The little SAS book> by None
<R Cookbook> by None

In [229]:
print type(book_1)
print type(ebook_1)
print issubclass(EBook, Book)
print issubclass(Book, EBook)

<class '__main__.Book'>
<class '__main__.EBook'>
True
False

In [230]:
print isinstance(ebook_1, Book)
print isinstance(ebook_1, EBook)
print isinstance(book_1, Book)
print isinstance(book_1, EBook)

True
True
True
False

In [235]:
# Customizing methods for a subclass
class EBook(Book):
    def __init__(self, name, fmt, author = None):
        Book.__init__(self, name, author)
        self.fmt = fmt
    
    def __str__(self):
        return Book.__str__(self) + ', format: ' + self.fmt
    
    def get_fmt(self):
        return self.fmt

In [237]:
ebook_2 = EBook('R Cookbook', 'pdf')
print ebook_2.get_fmt()
print ebook_2

pdf
<R Cookbook> by None, format: pdf

In [257]:
# Exercise: Add attributes and methods to EBook
# 1. Add size attribute with a default of 0.
# 2. Add a method get_size() that returns the size.
# 3. Add a method compress() that divides the size in half.

class EBook(Book):
    def __init__(self, name, fmt, author = None, size = 100):
        Book.__init__(self, name, author)
        self.fmt = fmt
        self.size = size
    
    def __str__(self):
        return Book.__str__(self) + ', format: ' + self.fmt + ', size: ' + str(self.size)
    
    def get_fmt(self):
        return self.fmt
    
    def get_size(self):
        return self.size
    
    def compress(self):
        self.size = self.size/2

In [261]:
ebook_2 = EBook('R Cookbook', 'pdf', 100)
print ebook_2
print ebook_2.get_size()
ebook_2.compress()
print ebook_2.get_size()

<R Cookbook> by 100, format: pdf, size: 100
100
50

# Pandas

In [262]:
import pandas as pd

In [267]:
!cat 'Control Flows, Classes and Intro to Pandas/my_df.txt'

a	b	c	d	message
1	2	3	4	hello
5	6	7	8	world
9	10	11	12	foo

In [272]:
A = pd.read_csv('Control Flows, Classes and Intro to Pandas/my_df.txt', sep = '\t')

In [273]:
A.head(10)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [274]:
A.tail(10)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [277]:
A.columns = range(5)
A

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [278]:
# Import iris data
iris = pd.read_csv('Control Flows, Classes and Intro to Pandas/iris.csv')

In [280]:
# Look at the first five rows of this data
iris.head(5)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [286]:
print iris.iloc[0]
print iris.loc[0]

Sepal.Length       5.1
Sepal.Width        3.5
Petal.Length       1.4
Petal.Width        0.2
Species         setosa
Name: 0, dtype: object
Sepal.Length       5.1
Sepal.Width        3.5
Petal.Length       1.4
Petal.Width        0.2
Species         setosa
Name: 0, dtype: object

In [287]:
print iris.iloc[0,1]
print iris.loc[0, 'Sepal.Width']

3.5
3.5

In [290]:
# Exercise 1: Use loc and iloc to select the 5th row of iris
print iris.loc[4]
print '-'*50
print iris.iloc[4]

Sepal.Length         5
Sepal.Width        3.6
Petal.Length       1.4
Petal.Width        0.2
Species         setosa
Name: 4, dtype: object
--------------------------------------------------
Sepal.Length         5
Sepal.Width        3.6
Petal.Length       1.4
Petal.Width        0.2
Species         setosa
Name: 4, dtype: object

In [293]:
# Exercise 2
# 1. Select the third to seventh row of the iris data set using loc and iloc
# 2. Select sepal width and the species columns from the iris data set.

print 'Problem 1 using loc: '
print iris.loc[1:6]
print '-'*50
print 'Problem 1 using iloc: '
print iris.iloc[1:6]

print 'Problem 2:'
print iris.loc[:, ['Sepal.Width', 'Species']]

Problem 1 using loc:
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
--------------------------------------------------
Problem 1 using iloc:
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
Problem 2:
     Sepal.Width    Species
0            3.5     setosa
1            3.0     setosa
2            3.2     setosa
3            3.1     setosa
4            3.6     setosa
5            3.9     setosa
6            3.4     setosa
7            3.4     setosa
8            2.9     setosa
9            3.1     setosa
10           3.7     setosa
11           3.4     setosa
12           3.0     setosa
13           3.0     setosa
14           4.0     setosa
15           4.4     setosa
16           3.9     setosa
17           3.5     setosa
18           3.8     setosa
19           3.8     setosa
20           3.4     setosa
21           3.7     setosa
22           3.6     setosa
23           3.3     setosa
24           3.4     setosa
25           3.0     setosa
26           3.4     setosa
27           3.5     setosa
28           3.4     setosa
29           3.2     setosa
..           ...        ...
120          3.2  virginica
121          2.8  virginica
122          2.8  virginica
123          2.7  virginica
124          3.3  virginica
125          3.2  virginica
126          2.8  virginica
127          3.0  virginica
128          2.8  virginica
129          3.0  virginica
130          2.8  virginica
131          3.8  virginica
132          2.8  virginica
133          2.8  virginica
134          2.6  virginica
135          3.0  virginica
136          3.4  virginica
137          3.1  virginica
138          3.0  virginica
139          3.1  virginica
140          3.1  virginica
141          3.1  virginica
142          2.7  virginica
143          3.2  virginica
144          3.3  virginica
145          3.0  virginica
146          2.5  virginica
147          3.0  virginica
148          3.4  virginica
149          3.0  virginica

[150 rows x 2 columns]

In [331]:
# Exercise 3:
# 1. Select subdataframe whose species are all virginica
sub_virginica = iris.loc[iris['Species'] == 'virginica']
# 2. How many rows have species virginica?
print '%d rows have species virginica' % sub_virginica.shape[0]
# 3. Sort this sub data frame by petal length
sorted_virginica = sub_virginica.sort_values('Petal.Length')
sorted_virginica.head()

50 rows have species virginica

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
106           4.9          2.5           4.5          1.7  virginica
126           6.2          2.8           4.8          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
121           5.6          2.8           4.9          2.0  virginica

In [332]:
# 4. What is the 20% percentile of the petal length among all the virginica?
# First, reindex the sorted_virginica variable
sorted_virginica = sorted_virginica.reset_index(drop = True)
sorted_virginica.loc[int(sub_virginica.shape[0]*0.2), 'Petal.Length']

5.0999999999999996

# Reading spreadsheets

In [333]:
import openpyxl