# reg_record function

Analyze data from a text file named reg_record.txt

The file is formatted such that there is one line with a person's name and the time of the message.
Below this line is a one sentence message. 

Here's a sample:

Jack 17:26:46
The slogan duplicates a bliss after the plastic accent.
Michael 17:26:47
A tidied successor enlightens the advertised contract.
William 17:26:48
The secondary freedom matures beneath your suitable tip.
John 17:26:50
A wonderful newcomer expires on top of a cryptic entrance.

In [56]:
import re
import requests

the_text = requests.get('https://s3.amazonaws.com/onlinehomework/reg_record.txt') 
record = str(the_text.text)

In [57]:
# Break up the string by lines
listOfInfo = re.split('\n', record)
# Pick the lines of interest, namely those with names and times. 
names_and_times = listOfInfo[0:(len(listOfInfo)-1):2]
# Pull out the names from this variable
names = map(lambda name_and_time: re.sub(' [0-9]{2}:[0-9]{2}:[0-9]{2}', '', name_and_time), names_and_times)
# Find the unique names in the list of names, or the unique participants in the messages by creating a list of the set of names
unique_names = list(set(names))

In [58]:
# Now iterate through the list of names and the list of unique contributors and sum up the number of messages from each person
people_msg_sum = [(person, sum(name == person for name in names)) for person in unique_names]
# Now sort the list of tuples by the number of messages in descending order
people_msg_sum = sorted(people_msg_sum, key=lambda tup: tup[1], reverse = True)
people_msg_sum

[('Emma', 87),
 ('Elizabeth', 89),
 ('Michael', 98),
 ('William', 91),
 ('Daniel', 77),
 ('Jack', 90),
 ('Jayden', 83),
 ('John', 99),
 ('Mary', 86),
 ('Emily', 122)]

In [84]:
# Now turn this into a function that can take any text file of messages and perform this analysis.

def solution(filename):
    f = open(filename, 'r')
    lines = f.readlines()
    f.close()
    names_and_times = lines[0:(len(lines)-1):2]
    names = map(lambda name_and_time: re.sub(' [0-9]{2}:[0-9]{2}:[0-9]{2}\n', '', name_and_time), names_and_times)
    unique_names = list(set(names))
    # Now iterate through the list of names and the list of unique contributors and sum up the number of messages from each person
    people_msg_sum = [(person, sum(name == person for name in names)) for person in unique_names]
    # Now sort the list of tuples by the number of messages in descending order
    people_msg_sum = sorted(people_msg_sum, key=lambda tup: tup[1], reverse = True)
    return people_msg_sum

In [85]:
solution('reg_record.txt')

[('Emily', 122),
 ('John', 99),
 ('Michael', 98),
 ('William', 91),
 ('Jack', 90),
 ('Elizabeth', 89),
 ('Emma', 87),
 ('Mary', 86),
 ('Jayden', 83),
 ('Daniel', 77)]